<div class="todolist">
  <h2>任务“备忘录”</h2>
  <div class="search">
    <input
      type="text"
      [(ngModel)]="keyword"
      (keydown)="doAdd($event)"
      placeholder="添加备忘任务"
    />
  </div>
  <hr />

  <h3>代办任务</h3>
  <ul class="clear">
    <!-- 循环todolist -->
    <li *ngFor="let item of todolist; let key = index">
      <!-- 使用*ngIfh指令判断item.status==0, 显示status==0的item.title -->
      <span *ngIf="item.status == 0">
        <span class="task_input">
          <input type="checkbox" [(ngModel)]="item.status" />{{ item.title }}
        </span>
        <button (click)="del(key)" class="task_button">删除</button><br />
      </span>
    </li>
  </ul>

  <h3>已经完成任务</h3>
  <ul class="clear">
    <!-- 循环todolist -->
    <li *ngFor="let item of todolist; let key = index">
      <!-- 使用*ngIfh指令判断item.status==1, 显示status==1的item.title -->
      <span *ngIf="item.status == 1">
        <span class="task_input">
          <input type="checkbox" [(ngModel)]="item.status" />{{ item.title }}
        </span>
        <button (click)="del(key)" class="task_button">删除</button><br />
      </span>
    </li>
  </ul>
  <span>下一段文字。。。。。。。。。。。。。</span>
</div>
