.todolist {
  padding: 15;
}

h2 {
  text-align: center;
  margin: 20px auto;
}

.add_task input {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  background-color: aqua;
}

h3 {
  margin-top: 15px;
  background: #eabea9;
}

.task_ul_list {
  overflow: hidden;
  padding-left: 0px;
  background-color: yellow;
}

.task_ul_list li {
  margin: 5px auto;
  list-style: none;
}

.task_ul_list input {
  width: 16px;
  height: 16px;
}

.task_input {
  display: inline-block;
  float: left;
}
.task_button {
  display: inline-block;
  float: right;
}
